body{
    background-color: aqua;
}

p{
    font-size: 40px;
}

h1{
    background-color: wheat;
}


#show_sketch{
    float: right;
    margin-right:10px; ;
    margin-top: 2px;
    color : black;
}

#score{
    float: left;
    font-size: 40px;
}

#timer{
    float: right;
    font-size: 40px;
    margin-right: 130px;
}

#sketch_to_be_drawn{
    color: red;
}